.animation{
    animation-duration: 3s;
    animation-name: intro;
    animation-direction: alternate;
    align-items: center;
    margin: 0 auto !important;
}

@keyframes intro {
    from {
      margin-left:1000%;
    }
    
    to {
     margin-left:0%;
   }
  }